.col-sm-12 {
    text-align: center;
    background-image: url("../images/WAbackground.jpg");
    background-position: right;
    width: 100%;
    /*background-color: #049444;
    background: linear-gradient(to bottom right, #049444, #F59F2A);*/
}

 iframe {
    margin: auto;
    padding: 30px;
    width:800px;
    height:600px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */

    iframe {
        margin: auto;
        padding: 30px;
        width: 310px;
        height: 550px;
    }

}

