body {
    background-color: #f0f0f5;
}


.location-banner-clearview {
    background-image: url("../images/P1430650.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
 
}

.location-banner-cathcart {
    background-image: url("../images/CathcartBanner.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}

.location-banner-lakeforestpark {
    background-image: url("../images/lakeforestparkbanner.jpg");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}



.location-banner-name {
    color: #ffffff;
    font-size: 190px;
    left: 0;
    position: relative;
    text-align: center;
    /*top: 30px;*/
    width: 100%
    
}

.bio {
    position:relative;
    font-size: 1.5em;
    padding: 2px 0 20px 10px;
    border: 2px solid #000000;
    margin: 27px;
    width: 89%;
    word-spacing: 7pt;
}

.map {
   
    padding-left:50px;
  
    
 
}
iframe {
    width: 89%;
    height: 400px;
  
 
}

.address {
    position:absolute;
    font-size: 1.5em;
    left:200px;
    padding:102px 0 0 100px;
 

    

}

.socail_media_pictures {
    padding:20px 0 0 0;
}





.information-hours{
    position:relative;
    font-size: 1.5em;
    right:100px;
    
  
  }


.employee-carousel {
  position:static;
   
}





/*#menu ul li {
    display: inline-block;
    list-style-type: none;
  
}

.special_title {
    text-align:center;
    font-size:3.9em;
}




.sunday {
    position: relative;
    bottom: 310px;
    padding: 0 10px 0 0;
}

.monday {
    position: relative;
    bottom: 128px;
    padding: 0 10px 0 0;

    
}



.tuesday {
    position: relative;
    top:24px;
 
  
    padding: 0 10px 0 0;
    
}

.wednesday {
    position: relative;
    bottom: 156px;
    padding: 0 10px 0 0;
    
}

.thursday {
    position: relative;
    bottom: 245px;
    padding: 0 10px 0 0;
    
}

.friday {
    position: relative;
    bottom: 243px;
    padding: 0 10px 0 0;
   
}

.saturday{
    position:relative;
    bottom:212px;
    padding:0 0 0 5px;
}*/


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .location-banner-name {
        color: #ffffff;
        font-size: 60px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 130px;
    }

    .location-banner-coustom {
        color: #ffffff;
        font-size: 60px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 60px;
    }


    /*.col-sm-3 {
        width: 90%;
        font-size: 1.1em;
        padding: 0 0 0 0;
    }*/


    .bio {
        /*padding:30px 30px 0 0px;*/
        font-size: 1.2em;
        /*padding: 50px 95px 0 0;*/
        border: 1.5px solid #000000;
        padding: 2px 5px 20px 5px;
        margin: 27px;
        width: 300px;
        /*word-spacing: 7pt;*/
    }

    .map {
        /*display: block;*/
        width: 363px;
        height: 400px;
        padding: 0 0 100px 27px;
    }





    .employee-carousel {
        width: 300px;
        padding: 0 55px 0 0;
    }

    .address {
        position:center;
     padding: 20px 0 0 50px;
     font-size:1.2em;
     
    }

    .information-hours {
        font-size: 1em;
        padding: 10px 10px 5px 95px;
        border: solid .5px black;
    }

    .socail_media_pictures {
        padding:30px;
    }

    .all{
        padding:100px;
    }
}


