body {
    background-color: #f0f0f5;
}


.location-banner-clearview {
    background-image: url("../images/P1430650.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
 
}

.location-banner-cathcart {
    background-image: url("../images/CathcartBanner.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}

.location-banner-lakeforestpark {
    background-image: url("../images/lakeforestparkbanner.jpg");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}



.location-banner-name {
    color: #ffffff;
    font-size: 190px;
    left: 0;
    position: relative;
    text-align: center;
    /*top: 30px;*/
    width: 100%
    
}

.bio {
    font-size: 1.5em;
    padding: 2px 0 20px 10px;
    border: 2px solid #000000;
    margin: 27px;
    width: 100%;
    word-spacing: 7pt;
}

.map {
    /*display: block;
    width: 340px;
    height: 400px;
    padding:0px 0 0 38px;*/
    padding-left:50px;
 
}
iframe {
    width: 100%;
    height: 400px;
 
}

.address {
    font-size: 1.5em;

    padding: 50px 0 0 0px;

}

.social-media {
    position: relative;
    left: 95px;
    padding-top:25px;
   
   
}

.social-media h4{
    position:relative;
    right: 44px;
    
}

.information-hours{
    
    font-size: 1.5em;
  }


.employee-carousel {
    width: 300px;
    padding:30px 0 10px 0;
    

}

.specials {
    padding: 50px 0 0 40px;
    font-size: 1.5em;
  
}



.carousel-caption h3 {
    position: absolute;
    top: -170px;
    right: 150px;
    font-size: 2em;
}

.col-sm-3{
    padding:0 0 0 55px;
    position:relative;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .location-banner-name {
        color: #ffffff;
        font-size: 60px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 130px;
        
    }

      .location-banner-coustom {
        color: #ffffff;
        font-size: 60px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 60px;
    }
    
    
     .col-sm-3 {
        width: 90%;
        font-size: 1.1em;
        padding: 0 0 0 0;
    }


    .bio {
       
        /*padding:30px 30px 0 0px;*/
        font-size: 1.5em;
        /*padding: 50px 95px 0 0;*/
        border: 1.5px solid #000000;
        padding: 2px 0 20px 10px;
        margin: 27px;
        width: 300px;
        /*word-spacing: 7pt;*/
    }

    .map {
        display: block;
        width: 100%;
        height: 400px;
        padding: 0 0 100px 18px;
    }

    .employee-carousel {
        width: 350px;
        padding: 0 0 0 40px;
    }

    .address {
        font-size: 1.5em;
        padding: 0 0 0 40px;
    }

    .information-hours {
        font-size: 1.5em;
        padding: 0 0 0 40px;
    }

    .social-media {
        position: relative;
        
        padding: 0 0 0 70px;
    }
}


