body {
    background-color: #f0f0f5;
}


.location-banner-clearview {
    background-image: url("../images/P1430650.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
 
}

.location-banner-cathcart {
    background-image: url("../images/CathcartBanner.JPG");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}

.location-banner-lakeforestpark {
    background-image: url("../images/lakeforestparkbanner.jpg");
    background-position: center center;
    background-size: cover;
    height: 375px;
    text-align: center;
    position: relative;
    margin: auto;
}


.location-banner-name {
    color: #ffffff;
    font-size: 200px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%
    
}

.bio
{
    
  width: 100%;
  padding:30px 0 0 30px;
  font-size: 1.5em;
  padding: 50px 95px 0 0;
  border:2px solid #000000;
  padding:8px 0 0 10px;
  margin:4px;
  width:850px;
  word-spacing:7pt;
  
  
}

.map {
    display: block;
    width: 350px;
    height: 400px;
 
}
iframe {
    width: 250%;
    height: 100%;
 
}

.address {
    font-size: 1.5em;

    padding: 50px 0 0 0px;

}

.social-media {
    position: relative;
    left: 62px;
    padding: 25px 0 0 0;
   
   
}

.social-media h4{
    position:relative;
    right: 44px;
    
}

.information-hours{
    
    font-size: 1.5em;
  }


.employee-carousel {
    width: 300px;
    padding:30px 0 10px 0;
    

}

.specials {
    padding: 50px 0 0 40px;
    font-size: 1.5em;
  
}

.carousel-caption h3 {
    position: absolute;
    top: -170px;
    right: 150px;
    font-size: 2em;
}