/*@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');*/
@import url('https://fonts.googleapis.com/css?family=Acme');

/* Set body background color and global font */
body {
    color: #474747;
    font-family: 'Acme', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Setup the stie footer */
.body-content footer {
    
    background-color: #ebebeb;
    text-align: center;
    font-size: 8pt;
    font-family: Arial;
    font-weight: unset;
}

/* Logo */
.logo-container {
    height: 300px;
    text-align: center;
    background-color: #000000;
    
}

.logo {
    height: 90%;
    display: block;
    margin: auto;
    width:30%;
  
    
}

.logo img {
    
    height: 90%;
    padding-top: 10px;
    width:480px;
}
.logo h1 {
    font-size: 1em;
    color: #000000;
}


}
    
}
/* Customize navbar */
/*.navbar-custom {
    background: linear-gradient(#ebebeb, #ebebeb);
    color: #000000;
    border-radius: 0;
    font-weight: bold;
    border-bottom: 5px solid #006500;
}

    .navbar-custom .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #ffffff;
        background-color: transparent;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus,
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus,
        .navbar-custom .navbar-nav > .open > a {
            text-decoration: none;
            background-color: #f69f2b;
        }

    .navbar-custom .navbar-brand {
        color: #eeeeee;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #f69f2b;
    }

    .navbar-custom .navbar-nav .dropdown-menu {
        background-color: #f69f2b;
    }

        .navbar-custom .navbar-nav .dropdown-menu > li > a {
            color: #fff;
        }

            .navbar-custom .navbar-nav .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .dropdown-menu > li > a:focus {
                color: #f69f2b;
            }*/
.navbar navbar-default {
    background: linear-gradient(#yellow, #b5b5b5);
    border-bottom: 5px solid #006500;
    font-size: 1.5em;
}
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #000000;
    }
    .navbar-custom .navbar-nav .nav-link {
        color: #000000;
    }
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Center the navbar unless on a small screen */
@media (min-width: 769px) {

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        /*vertical-align: top;*/
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Override the container for layout to make elements full screen*/
.container-full {
    margin-right: auto;
    margin-left: auto;
    max-width: 3600px; /* or 950px */
}
