@{
    ViewData["Title"] = "Clearview";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/locationpage.css")" />
}
<div class="container-fluid">

    @*banner*@

    <section class="location-banner-clearview">

        <label class=" location-banner-name">Clearview</label>
    </section>



      

       

    @*column one*@

           

            <div class="col-sm-8">
                <div class="bio">
                    <p>
                        Check us out for the weed, come back for the knowledgeable and friendly staff.  At the Kushery we are able to maintain quality affordable marijuana due to the experience gained as former medical marijuana providers.  Through this experience, we fine tune each individual customer’s wants and needs.  In addition to making informed and selective buying decisions on product.
                        The Kushery prides itself on providing the best quality products at the best price.  So, come round and see for yourself, we’re certain you won’t leave empty handed.
                    </p>
                </div>


                @*map*@

                <div class="map">
                    <iframe frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=18026 State Route 9 snohomish, WA 98296&amp;key=AIzaSyDK08tC4NRubbIiw-xwDR1WEp-YAXX1Mx8" allowfullscreen=""></iframe>

               </div>
            </div>





        
        


         
          




                @*address*@

                <div class="col-sm-4">
                    <div class="address">
                        <p><b>The Kushery Snohomish:</b></p>
                        <p>18026 State Route 9, STE B</p>
                        <p>Snohomish, WA. 98296</p>
                        <p><b>Phone:</b> 360-863-3256</p>
                    </div>


                    @*social media*@
                    <div class="socail_media_pictures">
                        <a href="https://www.facebook.com/kusheryclearview/">
                            <img title="facebook" alt="facebook" src="~/images/facebookLogo.PNG" />
                        </a>
                        <a href="https://www.instagram.com/the_kushery_clearview/?hl=en">
                            <img title="instagram" alt="instagram" src="~/images/instagram.png" />
                        </a>
                        <p><h4>Follow us on social media!</h4></p>
                    </div>


                    @*hours*@


                    <section class="information-hours">
                        <h2>Hours</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Sunday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Monday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                    <td class="spacer-vertical-xxs spacer-left-xs" style="color: green"></td>
                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Tuesday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Wednesday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Thursday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Friday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                                <tr>
                                    <td class="spacer-vertical-xxs spacer-right-xs"><b>Saturday</b></td>
                                    <td class="spacer-vertical-xxs spacer-horizontal-xs">8:00 AM - 12:00 PM</td>

                                </tr>
                            </tbody>
                        </table>
                    </section>


                    @*employee carousel*@

                    <div class="employee-carousel" @*style=" width:450px;  margin:0 auto;"*@>
                        <h3>Our Clearview Employees:</h3>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                            <ol class="carousel-indicators">
                                
                                @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
                                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                            </ol>


                            @*<div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/images/emp1.jpg" class="img-responsive" />
                                    <div class="carousel-caption" role="option">
                                        <p><h3>Mona</h3></p>
                                    </div>
                                </div>*@



                                <div class="carousel-inner" role="listbox">
                                    @*<div class="item active">
                                        <img src="~/images/emp5.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Lucy</h3></p>
                                            </div>
                                        </div>*@
                                        <div class="item active">
                                            <img src="~/images/emp2.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Johnnie</h3></p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="~/images/emp3.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Dillon</h3></p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="~/images/emp4.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Dominic</h3></p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="~/images/Dylan_Clearview.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Dylan</h3></p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="~/images/Funk_Clearview.jpg" class="img-responsive" />
                                            <div class="carousel-caption" role="option">
                                                <p><h3>Funk</h3></p>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                </div>
            </div>
    

























