@{
    ViewData["Title"] = "Lake Forest Park";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/locationpage.css")" />
}
<div class="container-fluid">

    @*banner*@

    <section class="location-banner-lakeforestpark">
        <label class=" location-banner-name">Lake Forest Park</label>
    </section>


    <div class="row">

        @*specials*@

        <div class="col-sm-3">

            <div class="specials">
                <h3><b>Specials</b></h3>
                <p><b>Happy Hour</b>- 15% off your purchase every Wednesday, Saturday and Sunday from 10-Noon and 5-7am.</p>
                <p><b>Munchie Monday</b>- 15% off the edible company of the day.</p>
                <p><b>Tincture Tuesday</b>- 15% off all Topicals, Tinctures and CBD product.</p>
                <p><b>Wax Wednesday</b>- $6 off any gram of oil and 15% off all Cartridges.</p>
                <p><b>Bud Buffet Thursday</b>- All $15/g flower is $12/g.<p>
                <p><b>Go Green Friday</b>- 20% off all glass and paraphernalia and 12% off if you rep your team.</p>
                <p><b>Super Size Saturday</b>- Buy any 3 Items get 5% off , 5 Items get 10% off and 7 Items get 15% off.</p>
                <p><b>Sunday Funday</b>- Pick any Special.</p>
            </div>

        </div>


        @*bio*@

        <div class="col-sm-6">
            <div class="bio">

                <p>
                    Located just East of I-5 between exits 177 & 178 in the old Guitarville building at 15th Ave. N.E. & N.E. 196th.
                    Stop in and meet your local neighborhood budtenders, who are always happy to see you and ready to help you pick out some quality products.  At the Kushery you’ll find that we have a great selection at competitive prices, you won’t leave disappointed.
                    In addition we at the Kushery are 100% pet friendly, so feel free to bring in your fur buddies to say hello to ours.
                </p>

            </div>



            @*map*@

            <div class="map">
                <iframe frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=19258 15th Ave NE Lake Forest park WA 98155&amp;key=AIzaSyDK08tC4NRubbIiw-xwDR1WEp-YAXX1Mx8" allowfullscreen=""></iframe>
            </div>
        </div>

        @*social media*@
        <div class="social-media">
            <a href="https://www.facebook.com/TheKusheryLakeForestPark/ ">
                <img title="facebook" alt="facebook" src="~/images/facebookLogo.PNG" />
            </a>
            <a href="https://www.instagram.com/lfpkushery/?hl=en ">
                <img title="instagram" alt="instagram" src="~/images/instagram.png" />
            </a>
            <p><h4>Follow us on social media!</h4></p>
        </div>



        @*address*@

        <div class="col-sm-3">
            <div class="address">
                <p><b>The Kushery Lake Forest Park:</b></p>
                <p>19258 15th Ave. NE STE B</p>
                <p>Lake Forest Park, WA. 98155</p>
                <p><b>Phone:</b> 206-403-1106</p>
            </div>


            @*hours*@

            <section class="information-hours">
                <h2>Hours</h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Sunday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Monday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>
                            @*<td class="spacer-vertical-xxs spacer-left-xs">style="color: green"</td>*@
                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Tuesday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Wednesday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Thursday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Friday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                        <tr>
                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Saturday</b></td>
                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                        </tr>
                    </tbody>
                </table>
            </section>


            @*employee carousel*@

            <div class="employee-carousel">
                <h3>Our Lake Forest Park Employees:</h3>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/LakeForestemp1.JPG" alt="ASP.NET" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p><h3>Cassie</h3></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/Gunner.jpg" alt="Package Management" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p><h3>Gunner</h3></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/LakeForestemp2.jpg" alt="Visual Studio" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p><h3>Ryan</h3></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/LakeForestemp3.jpg" alt="Package Management" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p><h3>Angel</h3></p>
                            </div>
                        </div>

                        @*<div class="item">
                                    <img src="~/images/emp4.jpg" alt="Microsoft Azure" class="img-responsive" />
                                    <div class="carousel-caption" role="option">
                                    </div>
                                </div>
                            </div>*@

                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
























