@{
    ViewData["Title"] = "Clearview";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/locationPage.css")" />
}


@*banner*@

<section class="location-banner">
    <label class=" location-banner-name">Clearview</label>
</section>

@*location hours*@

      <section class="hours">
                                <h2>Hours</h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Sunday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Monday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                            <td class="spacer-vertical-xxs spacer-left-xs" style="color: green">Open Now</td>
                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Tuesday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Wednesday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Thursday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Friday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td class="spacer-vertical-xxs spacer-right-xs"><b>Saturday</b></td>
                                            <td class="spacer-vertical-xxs spacer-horizontal-xs">10:00 AM - 8:00 PM</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                  