@{
    ViewData["Title"] = "Specials";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/specials.css")" />
}



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

    
<body>*@
<html>
<body>
    <div class="container-fluid">


        @*banner*@

        <div class="specials-banner">

            <label class="specials-banner-name">*Specials For All Locations*</label>
        </div>


        @*MENU*@

        <div class="col-sm-8">
            <div id="menu">




                <aside id="sunday_Monday_tuesday">
                    <ul>
                        <li class="sunday">
                            <h4>Sunday:</h4>
                            <p>*Customers choice*</p>
                        </li>

                        <li class="monday">
                            <h4>
                                Monday:
                                <br />"Make your Monday "Golden"
                            </h4>
                            <p style="color: #ff8f00">Golden Tree Flower</p>
                            <p>1g &#64 $10</p>
                            <p>3.5g &#64 $35</p>
                            <p>14g &#64 $120</p>

                            <p style="color: #ff8f00 ">Golden Tree Joint</p>
                            <p>1/2g &#64 $4</p>
                            <p>1g &#64 $7</p>
                        </li>


                        <li class="tuesday">
                            <h4>
                                Tuesday:
                                <br />"Top Shelf"
                            </h4>
                            <p style="color: #ff8f00">Flower</p>
                            <p>1g &#64 $12</p>
                            <p>2g &#64 $20</p>
                            <p>3.5g &#64 $35</p>
                            <p>7g &#64 $65</p>
                            <p>14g &#64 $120</p>
                            <p>28g &#64 $230</p>

                            <p style=" #ff8f00">Carts</p>
                            <p>&#64 $28</p>

                            <p style="color: #ff8f00">Joints</p>
                            <p>1g &#64 $6</p>
                            <p>2pk 1/2g &#64 $7</p>
                        </li>

                </aside>

                <section id="wednesday-saturday">

                <li class="wednesday">
                    <h4>Wax Wednesday:</h4>
                    <p>Viva Derado &#64 $25</p>
                    <p>Viva Fire &#64 $18</p>
                    <p>S.P.P. &#64 $28</p>
                    <p>S.P.P. Regulator &#64 $22</p>
                    <p>Doc Croc &#64 $28</p>
                    <p>Sticky Buds &#64 $25</p>
                </li>


                <li class="thursday">
                    <h4>
                        Thursday:
                        <br />High End Grams:
                    </h4>
                    <p>$14-$15g &#64 $12.00</p>
                    <p>$50 1/8’s &#64 $45.00</p>
                    <p>$45 1/8’s &#64 $40.00</p>
                </li>


                <li class="friday">
                    <h4>Friday:</h4>
                    <p>3 items 5% off</p>
                    <p>5 items 10% off</p>
                    <p>7 items 15% off</p>
                </li>

                <li class="saturday">
                    <h4>Saturday:</h4>
                    <p>Top Shelf &#64 $30</p>
                    <p>Avitas &#64 $30</p>
                    <p>RSO Go 1/2g &#64 $22</p>
                    <p>RSO Go 1g &#64 $40</p>
                </li>
                </ul>
                </section>

            </div>
    </div>


       
            <div class="col-sm-4">

                @*FOURM*@

                <form id="kushery_Fourm" method="post" action="mailto:thekushery502@mail.com">
                    <br />
                    <h4 style="color: #2b7320"> comments, questions, or feedback!</h4>
                    <br />                 
                    Comment:<br>
                    <input type="text" style="height:105px; width:305px;" name="Comment:">
                    <br />
                    <input type="submit" value="Send Email" />
                    <button type="reset" value="reset">Clear</button>

                   
                   
                    

        </form>

              











            </div>
           
        </div>
        

   
        </body>
    </html>
