
<head>
    <style>
        #tempbody{
           text-align:center;
        }
    </style>
</head>

<body id="tempbody">
    <h1><b>STANWOOD LOCATION COMING SOON.</b></h1>
    <address>
        27206 88th Ave. N.W.<br />
        Standwood, WA 98292
    </address>
</body>
